<<<<<<< HEAD
@import "public/_reset.css";
@import "public/_config.css";

/* nicking chromes classification */
@import "public/_appearance.css";
@import "public/_layout.css";
@import "public/_other.css";
@import "public/_text.css";
@import "public/global.css";


@import "public/home.css";
@import "public/post-detail.css";
=======
Hello

I am the owner of domain name and website "jamiecurle.comâ€, "jamiecurle.co.uk" and "jamie.curle.io"


I request you to remove the following links from your website

http://web.archive.org/web/2002*/http://jamiecurle.co.uk
http://web.archive.org/web/2003*/http://jamiecurle.co.uk
http://web.archive.org/web/2004*/http://jamiecurle.co.uk
http://web.archive.org/web/2005*/http://jamiecurle.co.uk
http://web.archive.org/web/2013*/http://jamiecurle.co.uk
http://web.archive.org/web/2014*/http://jamiecurle.co.uk
http://web.archive.org/web/2015*/http://jamiecurle.co.uk
http://web.archive.org/web/2016*/http://jamiecurle.co.uk
http://web.archive.org/web/2017*/http://jamiecurle.co.uk
http://web.archive.org/web/2018*/http://jamiecurle.co.uk


http://web.archive.org/web/2004*/http://jamiecurle.com
http://web.archive.org/web/2005*/http://jamiecurle.com
http://web.archive.org/web/2006*/http://jamiecurle.com
http://web.archive.org/web/2007*/http://jamiecurle.com
http://web.archive.org/web/2008*/http://jamiecurle.com
http://web.archive.org/web/2009*/http://jamiecurle.com
http://web.archive.org/web/2010*/http://jamiecurle.com
http://web.archive.org/web/2011*/http://jamiecurle.com
http://web.archive.org/web/2012*/http://jamiecurle.com
http://web.archive.org/web/2013*/http://jamiecurle.com
http://web.archive.org/web/2014*/http://jamiecurle.com
http://web.archive.org/web/2015*/http://jamiecurle.com
http://web.archive.org/web/2016*/http://jamiecurle.com
http://web.archive.org/web/2017*/http://jamiecurle.com
http://web.archive.org/web/2018*/http://jamiecurle.com
http://web.archive.org/web/2019*/http://jamiecurle.com
http://web.archive.org/web/2020*/http://jamiecurle.com
http://web.archive.org/web/2021*/http://jamiecurle.com
http://web.archive.org/web/2022*/http://jamiecurle.com

http://web.archive.org/web/2013*/http://jamie.curle.io
http://web.archive.org/web/2014*/http://jamie.curle.io
http://web.archive.org/web/2015*/http://jamie.curle.io
http://web.archive.org/web/2016*/http://jamie.curle.io
http://web.archive.org/web/2017*/http://jamie.curle.io
http://web.archive.org/web/2018*/http://jamie.curle.io
http://web.archive.org/web/2019*/http://jamie.curle.io
http://web.archive.org/web/2020*/http://jamie.curle.io
http://web.archive.org/web/2021*/http://jamie.curle.io
http://web.archive.org/web/2022*/http://jamie.curle.io


My Address:
12 Millcroft Court, Blyth, Northumberland, NE24 3JG.

Phone No:
+447834 538 884

Email Address:
jamie@curle.io


I have a good-faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law.

The above information in this notice is accurate, and under penalty of perjury, I am the owner of the copyright interest involved.

Kind regards,

Mr Jamie Curle
>>>>>>> main
