<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/app.css">

    <title>{{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}
    </title>
</head>
<body>

<!-- Code that all your templates share, like a header -->





</body>



<body id="{{ block "body_id" . }}{{end}}" class="{{block "body_class" . }}{{end}}">

{{ partial "body_header.html" . }}

{{ block "main" . }}
<main>


    <!-- The part of the page that begins to differ between templates -->
    I AM MAIN



</main>
{{ end }}

{{ block "footer" . }}
<footer>


    <p>
        <b>&copy; Jamie Curle {{ .Date.Year }}</b>
    </p>
</footer>

<!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
{{ end }}
</body>


</html>