body{
	height: 100%;
	display: grid;
	grid-gap: 0;
	grid-template-columns: minmax(20ch, 110ch);  /* oh yes, characters. hello. */
	grid-template-areas:
			" main_header 		.	"
			" main_content		.	"
			" main_footer		.   ";
	grid-template-rows: auto 1fr;
}

body > header{
	grid-area: main_header;
}

body > main{
	grid-area: main_content;
}

body > footer {
	grid-area: main_footer;
	padding-top: calc(var(--jc-unit) * 6);
}

body > footer p {
	padding: var(--jc-unit-double) var(--jc-unit);
}
body > footer p b {
	font-size: var(--jc-unit-double) / 1.3333;
}
