body{
	background-color: var(--jc-grey-10);
}

/* body header */
body > header {
	background-color: var(--jc-coral-100);
	color: var(--jc-white-100);
}
body > header a{
	display: inline-block;
	height: 80px;
	width: 80px;
	margin: 20px;
	padding: 0;
}
body > header a img{
	width: 100%;
	height: 100%;
	/* many thanks - https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(96%) sepia(9%) saturate(515%) hue-rotate(318deg) brightness(87%) contrast(86%);
}

body > header a:hover img{
	filter: invert(82%) sepia(19%) saturate(3552%) hue-rotate(147deg) brightness(104%) contrast(102%);
}


/* body main */
body > main{
	background-color: var(--jc-white-100);
	padding: var(--jc-unit);
}


/* global footer */
body > footer p{
	color: var(--jc-grey-40);
	padding: var(--jc-unit);
	font-size: calc(var(--jc-unit) * 0.625);
}