body{
    background-color: var(--jc-grey-10);
    height: 100%;
}

div#meat{
    background-color: var(--jc-white-100);
    height: 100vh;
}

/* body header */
div#meat > header {
	background-color: var(--jc-white-100);
	color: var(--jc-white-100);
}
div#meat > header a{
	display: inline-block;
	height: 80px;
	width: 80px;
	margin: 20px;
	padding: 0;
}
div#meat > header a img{
	width: 100%;
	height: 100%;
	/* many thanks - https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(66%) sepia(10%) saturate(369%) hue-rotate(201deg) brightness(95%) contrast(87%);
	transition: filter 0.2s;
}

div#meat > header a:hover img{

}


/* body main */
div#meat > main{
	background-color: var(--jc-white-100);
	padding: var(--jc-unit);
}


/* global footer */
body > footer p{
	color: var(--jc-grey-40);
	padding: var(--jc-unit);
	font-size: calc(var(--jc-unit) * 0.625);
}