body#post > main {
	background-color: transparent;
	box-shadow: none;
}


body#post div.content{
	background-color: var(--jc-white-100);
	padding: var(--jc-unit) var(--jc-unit);
	margin: 0 0 0 calc(var(--jc-unit) * -1 );
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: var(--jc-unit-quarter);
	border-bottom-right-radius: var(--jc-unit-quarter);
	/*box-shadow: 0 0 var(--jc-unit-half) rgba(0, 0, 0, 0.1);*/
}

body#post article img{
	border: var(--jc-unit-sixteenth) solid var(--jc-grey-10);
	border-radius: var(--jc-unit-quarter);
}

body#post div.header p{
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.01);
}

body#post div.header {
    color: var(--jc-black-80);

}

body#post div.header h1{
	color: var(--jc-black-80);
	padding-top: 0;
	text-shadow: var(--jc-unit-quarter) var(--jc-unit-quarter) var(--jc-unit-third) rgba(0, 0, 0, 0.04);
	font-size: calc(var(--jc-unit) * 6.75 );
	line-height: calc(var(--jc-unit) * 5 );
	letter-spacing: -4px;
}

body#post div.header p,
body#post div.header span{
	margin: calc(var(--jc-unit) * 2) 0;
}

body#post div.header p.date{
	margin: var(--jc-unit-triple) 0 0 0;
	padding-bottom: 0;
	font-weight: 900;
	font-size: 16px;
}

body#post div.header p.summary{
	margin: 0 0 calc(var(--jc-unit) * 3) 0;
	font-size: calc(var(--jc-unit) * 1.3);
	font-weight: bold;
	color: var(--jc-grey-100);
}

body#post footer p{
	color: var(--jc-white-100);
}